* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html, body, #root {
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/2d/21/3d/2d213d36f66c318754bd4b78ab9361f1.jpg");
}